.container {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  margin-top: 10px;
}

.content {
  flex: 4;
  padding: 20px
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoContainer {
  display: flex;
  margin-top: 20px;
}

.info {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.updateContainer {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}


.infoTop {
  display: flex;
  align-items: center;
}

.infoTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.fullname {
  font-weight: 600;
}

.role {
  font-weight: 300;
}

.infoBot {
  margin-top: 20px;
}

.infoBotTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.accountInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.accountInfoItem {
  margin-left: 10px;
}

.updateTitle {
  font-size: 24px;
  font-weight: 600;
}

.updateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


input[type=date] {
  width: 253px;
}

.formRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.updateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  font-weight: 600;
}

.infoIcon {
  font-size: 16px !important;
}

.userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightImgContainer {
  display: flex;
  align-items: center;
}

.rightImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.button {
  margin: 0 auto;
  padding-inline: 30px;
}

.form {
  width: 80%;
  display: block;
  justify-content: center;
}

.form>form {
  max-width: 60rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  position: relative;
}

.form >form>div:first-child {
  padding: 30px;
}

.form>div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form>form>div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form>form>label {
  margin: 1rem 0;
  font-size: 20px;
  font-style: italic;
}

.form>form>div>input {
  padding: 1rem;
  margin-top: 10px;
  height: 15px;
  border-radius: 0.5rem;
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: .2s;
  background-color: #f1f5f3;
}

.form>form>div>input:active,
.form>form>div>input:focus,
.form>form>div>input:hover {
  outline: none;
  border-bottom-color: #c4932b;
}

.button {
  padding-bottom: 1.5rem;
  position: absolute;
  height: 100%;
  top: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  right: 40px;
  transition: all 1s ease-out;
}

.button>button {
  border-radius: 15px;
  padding: 0;
  width: 100%;
  height: 60%;
  font-size: 4rem;
  background-color: white;
  color: rgb(29, 3, 88);
  font-weight: bold;
  border: 0px;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.button>button:hover {
  box-shadow: -10px 0 5px 0 rgba(0, 0, 0, 0.75) !important;
}

.data_default {
  color: #888;
}

.form>form>div>select {
  max-width: 30rem;
  margin-top: 1rem;
  height: 20px;
  width: fit-content;
}

#group {
  margin-bottom: 50px;
  height: 35px;
}


.wrong {
  border-bottom: 2px solid red !important;
}

.wrong:hover {
  border-bottom-color: red !important;
}
.buttonRemove {
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color: rgb(246, 246, 250);
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin: 1em;
    width: 7em;
}
.buttonRemove:hover {
  background-color: rgb(223, 221, 221);
}
.grant {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  background-color: rgb(246, 246, 250);
  border-radius: 5px;
  cursor: pointer;
  float: right;
  border: 2px solid black;
  margin: 1em;
  width: 7em;
}


.updateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.updateItem>label {
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.active {
  right: 0 !important;
  opacity: 1 !important;
}

.active > button {
  cursor: pointer;
}