.container {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  width: 95%;
}

.stages {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  margin-top:20px;
}

.title {
  text-align: center;
  margin-top:0;
}

.stages td,
.stages th {
  border: 1px solid #ddd;
  padding: 8px;
}

.stages tr:hover {
  background-color: #ddd;
}

.stages tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.stages th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2693e6;
  color: white;
}

.selectBox {
  width: 140px;
  height: 27px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 3px 5px 5px 3px;
  margin: 0px 0px 0px 10px;
}

.selectBox select {
  background: transparent;
  width: 140px;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  padding-right: 0;
  vertical-align: top !important;
  text-align: left;
  height: auto;
  line-height: 1em;
}
.buttonContainer button{
  border-radius: 15px;
  width: 10%;
  height: 30px;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  background: #2693e6;
  cursor: pointer;
}
label{
  font-size: 18px;
}
.buttonContainer{
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  display:flex;
  justify-content: center;
}
.inputContainer{
  display:flex;
  flex:wrap;
  margin-right: 20px;
}
.selector{
  display: flex;
  flex-wrap: wrap;
}
.inputContainer input{
  width: 30px;
  height: 24px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 3px 5px 5px 3px;
  font-size:16px;
  margin: 0px 0px 0px 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}